<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CSEuchre4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <CSEuchre4.Properties.Settings>
            <setting name="PlayerName" serializeAs="String">
                <value>Player</value>
            </setting>
            <setting name="PartnerName" serializeAs="String">
                <value>Partner</value>
            </setting>
            <setting name="LeftOpponentName" serializeAs="String">
                <value>Left Opponent</value>
            </setting>
            <setting name="RightOpponentName" serializeAs="String">
                <value>Right Opponent</value>
            </setting>
            <setting name="LeftOpponentVoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PartnerVoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RightOpponentVoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StickTheDealer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NineOfHearts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuperEuchre" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuietDealer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PeekAtOtherCards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeftOpponentPlay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PartnerPlay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RightOpponentPlay" serializeAs="String">
                <value>0</value>
            </setting>
        </CSEuchre4.Properties.Settings>
    </userSettings>
</configuration>
