<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VBEuchre4.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <VBEuchre4.MySettings>
            <setting name="PlayerName" serializeAs="String">
                <value>Player</value>
            </setting>
            <setting name="PartnerName" serializeAs="String">
                <value>Partner</value>
            </setting>
            <setting name="LeftOpponentName" serializeAs="String">
                <value>Left Opponent</value>
            </setting>
            <setting name="RightOpponentName" serializeAs="String">
                <value>Right Opponent</value>
            </setting>
            <setting name="LeftOpponentVoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PartnerVoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RightOpponentVoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StickTheDealer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NineOfHearts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuperEuchre" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuietDealer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PeekAtOtherCards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeftOpponentPlay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PartnerPlay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RightOpponentPlay" serializeAs="String">
                <value>0</value>
            </setting>
        </VBEuchre4.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
